.Home{
}

.bookItem{
    padding: 5px;
    border: 1px solid #000;
}

.modal{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #ef6a6a;
    padding: 5px;
    border-radius: 10px;
}

.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 10px;
}

@media screen and (max-width: 1024px) {
    .books{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .books{
        grid-template-columns: 1fr 1fr;
    }
}

.nav{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.genres{
    display: flex;
    align-items: center;
}